{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block content %}
    <section class="full-page">
      <div class="navbar">
        <div>
          <img class="logo center" src="{{ url_for('static', filename='images/icons/icon-64.png' ) }}" />
          <h5 class="card-title">Tingle</h5>
          <h5 class="card-subtitle">Symptom Tracker</h5>
        </div>
        <div style="margin-top: 30px">
          <a class="btn blue" href="#">Home</a>
          <a href="#">Reports</a>
          <a href="#">My account</a>
          <a href="#">Log out</a>
        </div>
      </div>
      <div> </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/install.js') }}"></script>
{% endblock %}
