{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot-password.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}
{% block title %}Forgot Password{% endblock %}
{% block sidebar %}
{% block content %}
  <div class="container">
    <div class="card col">
      <img class="logo" style="margin-bottom: 20px;" src="{{ url_for('static', filename='images/icons/icon-192.png' ) }}" />
      <h5 class="title" style="text-align: center">Forgot your password?</h5>
      <h6 class="subtitle" style="text-align: center; margin-top: 5px;">Please enter your email so we can send you a link to reset your password.</h6>
      <form class="form" action="{{url_for('forgot_password')}}">
        <label for="email">Email<sup>*</sup></label>
        <input type="email" class="input" name="email" required>
        <div class="col">
          <input class="btn green" type="submit" value="Submit">
          <span class="info-message"></span>
        </div>
      </form>
      <div style="text-align: center;">
        <a href="{{url_for('login')}}">Ready to sign in?</a>
      </div>
    </div>
  </div>
{% endblock %}
{% endblock %}
