{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}
{% block title %}Sign in{% endblock %}
{% block sidebar %}
{% block content %}
  <div class="container">
    <div class="card col">
      <img class="logo" style="margin-bottom: 20px;" src="{{ url_for('static', filename='images/icons/icon-192.png' ) }}" />
      <h5 class="title" style="text-align: center">Welcome</h5>
      <h6 class="subtitle" style="text-align: center;">Sign in to continue</h6>
      <form class="form" method="POST" action="{{url_for('login')}}">
        <label for="email">Email</label>
        <input type="text" class="input" name="email" required>
        <label for="pass">Password</label>
        <input type="password" class="input" name="password" required>
        <div class="col">
          <a href="{{url_for('forgot_password')}}" style="margin-top: 15px; margin-bottom: 5px;">Forgot your password?</a>
          <input class="btn green" type="submit" value="Sign In">
        </div>
      </form>
      <div style="text-align: center;">
        <span>Don't have an account? <a href="{{url_for('register')}}">Sign up now</a></span>
      </div>
    </div>
  </div>
{% endblock %}
{% endblock %}
