<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tingle - Symptom Tracker</title>

		<!-- Basic declarations and meta descriptions -->
		<meta charset="utf-8" />
		<link
			rel="icon"
			href="{{ url_for('static', filename='images/icons/icon-96.png') }}"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="Symptom Tracking App" />

		<!-- Web app manifest -->
		<link
			rel="manifest"
			href="{{ url_for('static', filename='manifest.json') }}"
		/>

		<!-- iOS -->
		<link
			rel="apple-touch-icon"
			href="{{ url_for('static', filename='images/icons/icon-96.png') }}"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />

		<!-- Custom or external CSS -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/styles.css') }}"
		/>

		<!-- Custom or external scripts -->
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='js/app.js') }}"
		></script>
	</head>
	<body>
		<section class="full-page">
			<div class="container">
				<div class="card">
					<img
						class="large-logo"
						src="{{ url_for('static', filename='images/icons/icon-192.png' ) }}"
					/>
					<h5 class="card-title" style="font-size: 48px">Tingle</h5>
				</div>
				<div class="info-card shadow" id="login">
					<h5 class="card-title" style="font-weight: normal; margin-top: 20px">
						Welcome
					</h5>
					<form class="form" method="POST" action="{{url_for('login')}}">
						<label for="email">Email</label>
						<input type="text" class="input" name="email" />
						<label for="pass">Password</label>
						<input type="text" class="input" name="password" />
						<div class="grid">
							<input
								class="btn blue"
								style="display: inline"
								type="submit"
								value="Login"
							/>
							<input
								class="btn green"
								style="display: inline"
								form="register"
								type="submit"
								value="Create an account"
							/>
						</div>
					</form>
					<form
						class="form"
						style="margin-top: -20px"
						id="register"
						action="./register"
					></form>
					<div style="margin: auto; text-align: right; width: 70%">
						<a class="link" href="./forgot-password.html">Forgot password?</a>
					</div>
				</div>
			</div>
		</section>
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='js/install.js') }}"
		></script>
	</body>
</html>
