{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

  <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
{% block title %}Create an account{% endblock %}
{% block content %}
  <div class="container">
    <div class="card col">
      <img class="logo" style="margin-bottom: 20px;" src="{{ url_for('static', filename='images/icons/icon-192.png' ) }}" />
      <h5 class="title" style="text-align: center">Create an account</h5>
      <h6 class="subtitle" style="text-align: center;">Please fill out the form below</h6>
      <form class="form" action="{{url_for('register')}}">
        <div class="grid two-equal-columns">
          <div class="col">
            <label for="first-name">First name<sup>*</sup></label>
            <input type="text" class="input" name="first-name" required>
          </div>
          <div class="col">
            <label for="last-name">Last name<sup>*</sup></label>
            <input type="text" class="input" name="last-name" required>
          </div>
        </div>
        <div class="grid two-equal-columns">
          <div class="col">
            <label for="age">Age</label>
            <input type="number" class="input" name="age">
          </div>
          <div class="col">
            <label for="gender">Gender</label>
            <select name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <!-- <div id="multi-checklist" class="dropdown-check-list">
          <label>Have you received, or are you currently receiving, any of the following types of chemotherapy?<sup>*</sup></label>
          <div class="blue anchor btn">Select one or more treatment types</div>
          <ul class="items" id="treatments">
            {% for instance in treatments %}
              <li><input type="checkbox" class="checkbox-input" name="treatment" value="{{instance.treatment_name}}">{{instance.treatment_name}}</li>
            {% endfor %}
            <li><input id="notype" type="checkbox" class="checkbox-input" onChange="selectChanged()"> I have not received any of these types of chemotherapy</li>
            <li><input id="unknowntype" type="checkbox" class="checkbox-input" onChange="selectChanged()"> I don't know the name of the chemotherapy that I have received</li>
          </ul>
        </div> -->
        <label for="mobile-number">Mobile number</label>
        <input type="tel" class="input" name="mobile-number" pattern="[0-9]{10}">
        <label for="email-address">Email<sup>*</sup></label>
        <input type="email" class="input" name="email-address" required>
        <label for="password">Password<sup>*</sup></label>
        <input type="password" class="input" name="password" minlength="8" required>
        <label for="confirm-password">Confirm Password<sup>*</sup></label>
        <input type="password" class="input" name="confirm-password" minlength="8" required>
        <div class="row">
          <input type="checkbox" name="consent" style="margin: 20px 5px 0 0;">
          <label for="consent"> I consent to the anonymised use of my symptom data for research purposes.</label>
        </div>
        <div class="col">
          <input class="btn green" type="submit" value="Sign up">
          <span class="error-message"></span>
        </div>
      </form>
      <div style="text-align: center;">
        <a href="{{url_for('login')}}">Already signed up?</a>
      </div>
    </div>
  </div>
{% endblock %}
