<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Symptom Tracking App</title>

    <!-- Custom or external CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  </head>

  <body>
    <section class="full-page">
      <div class="container">
        <div class="card">
          <img class="logo" src="{{ url_for('static', filename='images/icons/icon-64.png' ) }}" />
          <h5 class="card-title">Tingle</h5>
        </div>
        <div class="info-card">
          <h5 class="card-title">Register</h5>
          <form class="form" action="/action_page.php">
            <label for="fname">First name</label>
            <input type="text" class="input" name="fname"><br><br>
            <label for="lname">Last name</label>
            <input type="text" class="input" name="lname"><br><br>
            <label for="lname">Gender</label>
            <input type="text" class="input" name="lname"><br><br>
            <label for="lname">Age</label>
            <input type="number" class="input" name="lname"><br><br>
            <label for="lname">Email</label>
            <input type="text" class="input" name="lname"><br><br>
            <label for="lname">Mobile number</label>
            <input type="text" class="input" name="lname"><br><br>
            <label for="lname">Treatment type</label>
            <input type="text" class="input" name="lname"><br><br>
            <input class="btn green" style="float: right" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/install.js') }}"></script>
  </body>  
</html>
