<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tingle - Symptom Tracker</title>

     <!-- Basic declarations and meta descriptions -->
     <meta charset="utf-8">
     <link rel="icon" href="{{ url_for('static', filename='images/icons/icon-96.png') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta name="description" content="Symptom Tracking App">
 
     <!-- Web app manifest -->
     <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
 
     <!-- iOS -->
     <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-96.png') }}">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="apple-mobile-web-app-status-bar-style" content="black">
     <meta name="format-detection" content="telephone=no">
     
    <!-- Custom or external CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Custom or external scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>

  </head>
  <body>
    <section class="full-page">
      <div class="container">
        <div style="overflow: scroll;" class="info-card shadow" id="register">
            <h5 class="card-title" style="font-weight: normal">Create a new account</h5>
          <form class="form" action="./dashboard">
            <p class="info-text">Personal details</p>
            <div id="name-inputs" class="input-box">
              <label for="fname">First name *</label>
              <input type="firstname" class="input" name="firstname" required>
              <label for="lastname">Last name *</label>
              <input type="text" class="input" name="lastname" required>
            </div>
            <div id="age-gender-inputs" class="input-box">
              <label for="gender" id="gender-label">Gender</label>
              <div style="display: inline-block;">
                <input type="radio" class="checkbox-input" name="gender" value="male">   Male<br>
                <input type="radio" class="checkbox-input" name="gender" value="female">   Female<br>
                <input type="radio" class="checkbox-input" name="gender" value="other">   Other<br>
              </div>
              <label for="age">Age</label>
              <input type="number" class="input" name="age" min="18" max="120">
            </div>
            <br>
            <label for="mobile">Mobile number</label>
            <input type="tel" class="input" name="mobile" pattern="[0-9]{10}">
            <div id="multi-checklist" class="dropdown-check-list">
              <label> Have you received, or are you currently receiving, any of the following types of chemotherapy? Please choose one or more types from the following list.</label>
              <div class="blue anchor btn">Select one or more treatment types</div>
              <ul class="items" id = treatments>
                <li><input type="checkbox" class="checkbox-input"> Oxaliplatin (Eloxatin, Oxalatin, Oxaliccord, Xalox, FOLFOX, XELOX)</li>
                <li><input type="checkbox" class="checkbox-input"> Cisplatin (Cisplatinum, Platinol)</li>
                <li><input type="checkbox" class="checkbox-input"> Carboplatin (Carbaccord)</li>
                <li><input type="checkbox" class="checkbox-input"> Paclitaxel (Taxol, Anzatax, Plaxel, Abraxane)</li>
                <li><input type="checkbox" class="checkbox-input"> Docetaxel (Taxotere, Dotax, Oncotaxel)</li>
                <li><input type="checkbox" class="checkbox-input"> Cabazitaxel (Jevtana)</li>
                <li><input type="checkbox" class="checkbox-input"> Vincristine</li>
                <li><input type="checkbox" class="checkbox-input"> Vinblastine</li>
                <li><input type="checkbox" class="checkbox-input"> Vinorelbine (Navelbine)</li>
                <li><input type="checkbox" class="checkbox-input"> Thalidomide (Thalomid) </li>
                <li><input type="checkbox" class="checkbox-input"> Bortezomib (Velcade)</li>
                <li><input type="checkbox" class="checkbox-input"> Lenalidomide (Revlimid)</li>
                <li><input type="checkbox" class="checkbox-input"> Pomalidomide (Pomalyst)</li>
                <li><input type="checkbox" class="checkbox-input"> Eribulin (Halaven) </li>
                <li><input id="notype" type="checkbox" class="checkbox-input" onChange="selectChanged()"> I have not received any of these types of chemotherapy</li>
                <li><input id="unknowntype" type="checkbox" class="checkbox-input" onChange="selectChanged()"> I don't know the name of the chemotherapy that I have received</li>
              </ul>
            </div>
            <br>
            <p class="info-text" >Account details</p>
            <label for="email">Email *</label>
            <input type="text" class="input" name="email" required>
            <label for="password">Password *</label>
            <input type="password" class="input" name="password" minlength="8" required>
            <label for="passwordconf">Password confirmation *</label>
            <input type="password" class="input" name="passwordconf" minlength="8" required><br>
            <label for="consent" style="margin-bottom: 10px">I consent to the anonymised use of my symptom data for research purposes.</label>
            <input type="radio" class="checkbox-input" name="consent" value="yes" required>  Yes, I agree<br>
            <input type="radio" class="checkbox-input" name="consent" value="no">  No<br>
            <input class="btn btn-align green" type="submit" value="Create an account">
            <input class="btn btn-align blue" form="back" type="submit" value="Back to home">
          </form>
            <form class="form" id="back" action="./login"> </form>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/install.js') }}"></script>
  </body>  
</html>
