{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot-password.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-alert.css') }}">
{% endblock %}
{% block title %}Forgot Password{% endblock %}
{% block sidebar %}
{% block content %}
  <div class="container">
    <div class="card col">
      <img class="logo" style="margin-bottom: 20px;" src="{{ url_for('static', filename='images/icons/icon-192.png' ) }}" />
      <h5 class="title" style="text-align: center">Reset password</h5>
      <h6 class="subtitle" style="text-align: center; margin-top: 5px;">Please enter a new password for your account.</h6>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert" role="alert">
              <alert-message class="alert {{ category }} fade in">{{ message }}</alert-message>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form class="form" action="{{url_for('reset_password', url_key=url_key)}}" method="post">
        <label for="pw">Password<sup>*</sup></label>
        <input type="password" class="input" name="pw" required>
        <label for="pw_confirm" style="margin-top: 2px" >Confirm password<sup>*</sup></label>
        <input type="password" class="input" name="pw_confirm" required><br>
        <div class="col">
          <input class="btn green" type="submit" value="Reset password">
        </div>
      </form>
      <div style="text-align: center;">
        <a href="{{url_for('login')}}">Ready to sign in?</a>
      </div>
    </div>
  </div>
{% endblock %}
{% endblock %}
