{% extends "sidebar.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/patient-account.js') }}"></script>
{% endblock %}
{% block title %}Account{% endblock %}

{% block sidebar %}
{{ super() }}
{% block content %}
<div class="container">
  <h5 class="title">Account</h5>
  <div class="card">
    <p class="subtitle">Preferences</p>
    <p>Linked clinicians</p>
    <ul id="cl-list-container" >
      {% if clinicians is none or clinicians|length == 0 %}
        <div>You have not linked any clinicians.</div>
      {% else %}
        {% for clinician in clinicians %}
          <li> {{ clinician }}<span class="close" id='{{ clinician }}' onclick="deleteClinician('{{ clinician }}')">x</span></li>
        {% endfor %}
      {% endif %}
    </ul>
    <form name="add-clinician" class="form col" method="POST">
      <label for="clinician_email">Grant access to a clinician</label>
      <div>
        <input type="email" name="clinician_email" style="width: 69%; height: 100%; display: inline-block" required></input>
        <input class="btn green" type="submit" style="width: 29%; display: inline-block; margin: 0px" value="Add">
      </div>
    </form>
    <p>Linked clinicians have access to your personal symptom recordings and survey data.</p>
  </div>
</div>
{% endblock %}
{% endblock %}