{% extends "sidebar.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block sidebar %}
{{ super() }}
  {% block content %}
  <main class="s-layout__content">
    <div class="container" style="justify-content: start;">
      <div class="grid-container">
        <div class="grid-header">
          <h5 class="title" id="heading" style="display: none;">{{ session.name }}</h5>
          <p class="message">This app is designed to track Peripheral Neuropathy symptoms which may be associated with chemotherapy treatment.</p>
        </div>
        <div class="grid-button-left">
          <a href="{{url_for('record_symptom')}}" class="btn green aligned">Record Symptom</a>
        </div>
        <div class="grid-button-right">
          <a href="{{url_for('symptom_history')}}" class="btn blue aligned">View Symptoms</a>
        </div>
        {% if questionnaires %}
          <div class="grid-main">
            <br>
            <h5 class="subtitle">Your surveys</h5>
            {% for questionnaire in questionnaires %}
              <div class="survey-item">
                <div class="survey-text">{{ questionnaire.name }}</div>
                <div class="flex">
                  <span class="due-date">Due: {{ questionnaire.end_date }}</span>
                  <a href="/patient/questionnaire/{{ questionnaire.id }}" class="btn blue survey-status">Start</a>
                  {% if questionnaire.opened %}
                    <a href="/patient/complete-questionnaire/{{ questionnaire.id }}" class="btn green survey-status mark-as-completed">Mark as completed</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class = "break">
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
{% endblock %}
