{% extends "sidebar.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/record-symptom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-alert.css') }}">
{% endblock %}
{% block title %}Record a Symptom{% endblock %}
{% block sidebar %}
  {{ super() }}
  {% block content %}
    <div class="container">
      <h5 class="title">Record a Symptom</h5>
      <div class="card">
        <form name="record-symptom" class="form col" action="{{url_for('record_symptom')}}" onsubmit="return validateForm()" method="POST">
          <input type="hidden" name="id"/>
          <label for="symptom">Symptom<sup>*</sup></label>
          <select name="symptom" onchange="checkvalue(this)" required>
            <option label=" "></option>
            <option value="Cramping">Cramping</option>
            <option value="Discomfort">Discomfort</option>
            <option value="Numbness">Numbness</option>
            <option value="Pain">Pain</option>
            <option value="Tingling">Tingling</option>
            <option value="Weakness">Weakness</option>
            <option value="Other">Other</option>
          </select>
          <input type="text" id="symptom" placeholder="Enter a symptom here" name="symptom" style="display: none;"/>
          <span class="error-message" id="symptom-error-message"></span>
          <label for="location">Location<sup>*</sup></label>
          <select name="location" onchange="checkvalue(this)" required>
              <option label=" "></option>
              <option value="Hands">Hands</option>
              <option value="Arms">Arms</option>
              <option value="Feet">Feet</option>
              <option value="Legs">Legs</option>
              <option value="Other">Other</option>
          </select>
          <input type="text" id="location" placeholder="Enter a location here" name="location" style="display: none;"/>
          <span class="error-message" id="location-error-message"></span>
          <label for="severity">Severity<sup>*</sup></label>
          <div class="range-wrap">
            <input value="0" type="range" class="range" min="0" max="4" step="1" name="severity" list="severity" required>
            <datalist id="severity">
              <option value="0">Not at all</option>
              <option value="1">A little bit</option>
              <option value="2">Somewhat</option>
              <option value="3">Quite a bit</option>
              <option value="4">Very much</option>
            </datalist>
            <output class="bubble"></output>
          </div>
          <label for="occurence" style="margin-top: 25px;">Time of Day<sup>*</sup></label>
          <select name="occurence" required>
            <option label=" "></option>
            <option value="Morning">Morning</option>
            <option value="Daytime">Daytime</option>
            <option value="Night-time">Night-time</option>
            <option value="All the time">All the time</option>
            <option value="Sporadic">Sporadic</option>
          </select>
          <label for="date">Date</label>
          <input type="date" id="date" name="date">
          <label for="notes">Notes</label>
          <textarea name="notes" maxlength="255" rows="4" style="resize: none;"></textarea>
          <input class="btn green" type="submit" style="margin-top: 20px;" value="Submit">
        </form>
      </div>
    </div>
  {% endblock %}
  {% block bodyscripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/record-symptom.js') }}"></script>
  {% endblock %}
{% endblock %}
