{% extends "sidebar.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-alert.css') }}">
{% endblock %}
{% block title %}Track a Symptom{% endblock %}
{% block sidebar %}
  {{ super() }}
  {% block content %}
    <div class="container">
      <h5 class="title">Track Symptom</h5>
      <div class="card">
          <form name="make-graph" class="form col" action="{{url_for('patient_reports')}}" onsubmit="return validateForm()" method="POST">
            <label style="margin-top: -10px" for="symptom">Select a symptom<sup>*</sup></label>
            <div>
            <div style="float: left; width: 48%;">
              <select  style="height:45px;" id="symptom-list" name="symptom" onchange="checkvalue(this)" required>
                <option label=" "></option>
                <option value="All" {% if (symptom == "All") %} selected="selected" {% endif %} >All Symptoms</option>
                <option value="Cramping" {% if (symptom == "Cramping") %} selected="selected" {% endif %}>Cramping</option>
                <option value="Discomfort" {% if (symptom == "Discomfort") %} selected="selected" {% endif %}>Discomfort</option>
                <option value="Numbness" {% if (symptom == "Numbness") %} selected="selected" {% endif %}>Numbness</option>
                <option value="Pain" {% if (symptom == "Pain") %} selected="selected" {% endif %}>Pain</option>
                <option value="Tingling" {% if (symptom == "Tingling") %} selected="selected" {% endif %}>Tingling</option>
                <option value="Weakness" {% if (symptom == "Weakness") %} selected="selected" {% endif %}>Weakness</option>
                <option value="Other">Other</option>
              </select>
              <input type="text" id="symptom" placeholder="Enter a symptom here" name="symptom" style="display: none;"/>
            </div>
            <div style="float: left; padding: 10px 10px 10px 10px;"> in </div>
            <div style="overflow: hidden; width: auto;"> 
              <select style="height:45px;" id="location-list" name="location" onchange="checkvalue(this)" required>
                  <option label=" "></option>
                  <option value="All" {% if (location == "All") %} selected="selected" {% endif %}>All Locations</option>
                  <option value="Hands" {% if (location == "Hands") %} selected="selected" {% endif %}>Hands</option>
                  <option value="Arms" {% if (location == "Arms") %} selected="selected" {% endif %}>Arms</option>
                  <option value="Feet" {% if (location == "Feet") %} selected="selected" {% endif %}>Feet</option>
                  <option value="Legs" {% if (location == "Legs") %} selected="selected" {% endif %}>Legs</option>
                  <option value="Other">Other</option>
              </select>
              <input type="text" id="location" placeholder="Enter a location here" name="location" style="display: none;"/>
            </div>
          </div>
          <span class="error-message" id="location-error-message"></span>
          <span class="error-message" id="symptom-error-message"></span>
          <span class="error-message" id="both-error-message"></span>
          <label style="margin-top: -15px" for="startDate">From</label>
          <input type="date" id="startDate" name="startDate" value={{ startDate }}>
          <label for="endDate">To</label>
          <input type="date" id="endDate" name="endDate" value={{ endDate }}>
          <input class="btn green" type="submit" style="margin-top: 20px;" value="View Symptom Data">
          <div style="width: 100%;">
            <div style="float: left; width: 50%;">
              <input class="btn blue" type="submit" style=" width: 100%;" value="Export Graph (.svg)" onclick="return getConfirmation('image')" formaction="{{url_for('download_image')}}">
            </div>
            <div style="float: left; width: 50%; padding-left: 10px; overflow: hidden;">
              <input class="btn blue" type="submit" style="width: 100%;" value="Export Data (.csv)" onclick="return getConfirmation('file')" formaction="{{url_for('download_file')}}">
            </div>
          </div>
        </form>
        {% if graph_data != none %}
          <embed type="image/svg+xml" src={{graph_data|safe}}>
        {% endif %}
      </div>
    </div>
  {% endblock %}
  {% block bodyscripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/reports.js') }}"></script>
  {% endblock %}
{% endblock %}
