{% extends "sidebar.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/symptom-history.css') }}">
{% endblock %}
{% block title %}Symptom History{% endblock %}
{% block sidebar %}
{{ super() }}
  {% block content %}
    <div class="container">
      <h5 class="title">Symptom History</h5>
      <div class="cards-holder">
        {% for symptom in symptoms %}
          <div>
            <div class="symptom-card">
              <div class="flex row symptom-value right">{{symptom.recorded_date}}</div>
              <div class="flex col">
                <div class="label">
                  Symptom
                </div>
                <div class="symptom-value">
                  {{symptom.symptom_name}}
                </div>
              </div>
              <div class="flex col padding">
                <div class="label">
                  Location
                </div>
                <div class="symptom-value">
                  {{symptom.location}}
                </div>
              </div>
              <div class="flex col padding">
                <div class="label">
                  Severity
                </div>
                <div class="symptom-value">
                  {{symptom.severity}}
                </div>
              </div>
              <div class="flex col padding">
                <div class="label">
                  Notes
                </div>
                <div class="symptom-value">
                  {{symptom.notes}}
                </div>
              </div>
            </div>
            <div class="flex row">
              <button class="btn blue" onclick="editRecord('{{ symptom.symptom_id }}', '{{ symptom.symptom_name }}', '{{ symptom.location }}', '{{ symptom.severity }}', '{{ symptom.occurence }}', '{{ symptom.recorded_date }}', '{{ symptom.notes }}')">
                <i class="fa fa-pen fa-sm" style="color: #ffffff"></i>
                Edit
              </button>
              <button class="btn red" onclick="deleteRecord('{{ symptom.symptom_id }}')">
                <i class="fa fa-trash fa-sm" style="color: #ffffff"></i>
                Delete
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
  {% block bodyscripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/symptom-history.js') }}"></script>
  {% endblock %}
{% endblock %}