{% extends "sidebar.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/symptom-history.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}
{% block title %}Symptom History{% endblock %}
{% block sidebar %}
{{ super() }}
  {% block content %}
    <div class="container">
      <h5 class="title">Symptom History</h5>
      <div class="card">
          <table>
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Symptom</th>
                      <th>Location</th>
                      <th>Severity</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for symptom in symptoms %}
                      <tr>
                          <td>{{symptom[0][1:]}}</td>
                          <td>{{symptom[1]}}</td>
                          <td>{{symptom[2]}}</td>
                          <td>{{symptom[3][:-1]}}</td>
                          <td class="delete"><button class="btn editbtn red">Delete</button></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  {% endblock %}
{% endblock %}