ul {
    list-style-type: none;
}
#cl-list-container {
    background-color: #F5F6FA;
    padding: 20px 20px 20px 20px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #BCBCC4;
    border-radius: 5px;
}

#cl-list-container li {
    background-color: #1485FF;
    padding: 7px;
    border: transparent;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 5px 0px 5px 0px;
    display: block;
    position: relative;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 5px 16px;
    transform: translate(0%, -70%);
    color: #FFFFFF;
    font-size: 24px;
}

/*
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/

/* @media (min-width: 1281px) {
    .container {
      width: 50%;
    }
  } */
  
  /*
    Device = Most Smartphones (Portrait)
    Screen = 320px to 479px
  */
  
  /* @media (min-width: 320px) and (max-width: 480px) {
    .card {
      width: 90%;
    }
  } */

  /*
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .container {
      width: 50%;
    }
  }
  
  /*
    Device = Tablets, iPads (Portrait)
    Screen = 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .card {
      width: 60%;
    }
  }
  
  /*
    Device = Tablets, iPads (Landscape)
    Screen = 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .card {
      width: 60%;
    }
  }
  
  /*
    Device = Low Resolution Tablets, Smartphones (Landscape)
    Screen = 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .card {
      width: 70%;
    }
    .title {
        margin-top: 40px;
    }
  }
  
  /*
    Device = Most Smartphones (Portrait)
    Screen = 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .card {
        width: 80%;
    }
    .title {
        margin-top: 40px;
    }
  }
  
  