@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  color: #333333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F5F6FA !important;
}

.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
}

.two-equal-columns {
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.three-equal-columns {
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.space-between {
  justify-content: space-between;
}

.w-50 {
  width: 50%;
}

.logo {
  width: 64px !important;
  height: 64px !important;
  margin: 0 auto;
}

.card {
  background: #fff;
  padding: 40px;
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.35);
}

.title {
  color: #1A1A1A;
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  color: #4b4b4b;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 10px;
}

form {
  margin: 10px 0px;
}

a {
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  color: #0e81fc;
}

span {
  font-size: 14px;
  margin: 5px 0px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-message {
  text-align: center;
  color: #FF4141;
}

.warning-message {
  text-align: center;
  color: #ffcc00;
}

.info-message {
  text-align: center;
}

.success-message {
  margin-top: 5px;
  text-align: center;
  color: #4EB760
}

/*
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/*
  Device = Tablets, iPads (Portrait)
  Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 1.7rem;
  }
}

/*
  Device = Tablets, iPads (Landscape)
  Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .title {
    font-size: 1.7rem;
  }
}

/*
  Device = Low Resolution Tablets, Smartphones (Landscape)
  Screen = 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .title {
    font-size: 1.7rem;
  }
}

/*
  Device = Most Smartphones (Portrait)
  Screen = 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}
