.container {
    width: 65%;
    padding-top: 4rem;
    padding-left: 6rem;
    justify-content: normal;
    align-items: normal;
    margin-left: 9em;
  }
  
  .card {
    margin-top: 15px;
    width: 100%;
  }
  
  textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #BCBCC4;
    border-radius: 5px;
  }

  embed {
    margin-top: 0px;
    width: 95%;
  }
  /*
    Device = Desktops
    Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
    .container {
      width: 75%;
      padding-left: 8rem;
    }
  }
  
  /*
    Device = Tablets, iPads (Portrait)
    Screen = 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .card {
      width: 100%;
      margin-top: 10px;
    }
  
    .container {
      width: 90%;
      padding-top: 6rem;
    }
  
    .title {
      font-size: 40px;
    }
  }
  
  /*
    Device = Tablets, iPads (Landscape)
    Screen = 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .card {
      width: 90%;
      margin-top: 10px;
    }
  
    .container {
      width: 90%;
      padding-top: 6rem;
    }
  
    .title {
      font-size: 40px;
    }
  }
  
  /*
    Device = Low Resolution Tablets, Smartphones (Landscape)
    Screen = 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .card {
      width: 85%;
    }
  
    .container {
      width: 90%;
      padding-top: 6rem;
      padding-left: 4rem;
    }
  
    .title {
      font-size: 36px;
      margin-top: 2em;
    }
  }
  
  /*
    Device = Most Smartphones (Portrait)
    Screen = 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .card {
      width: 100%;
      margin-top: 10px;
    }
  
    .container {
      width: 100%;
      padding-top: 6rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .title {
      font-size: 32px;
      margin-top: 2em;
    }
  
    .two-equal-columns {
      grid-template-columns: unset;
      grid-template-rows: 1fr 1fr;
    }
  }
 