* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F6FA !important;
  font-family: 'Montserrat', sans-serif !important;
}

input,
label {
  display: block;
}

/* #multi-checklist {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-right: 20px;
} */

.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 5px 5px 5px 5px;
  font-size: 32px;
  text-align: center;
}

.card-subtitle {
  margin: 5px 5px 5px 5px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.info-card {
  background-color: white !important;
  margin: 20px;
  padding: 40px 20px 50px 20px;
  width: 80%;
}

.info-card#register {
  width: 80%;
}

.info-card#login {
  width: 60%;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.form {
  width: 70%;
  margin: 30px auto 30px auto;
}

.input-box {
  display: inline-block;
}

#name-inputs {
  width: 62%;
  padding-right: 7%;
}

#age-gender-inputs {
  width: 30%
}

#gender-label {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  vertical-align: top
}

.input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  /*float: left;*/
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.checkbox-input {
  vertical-align: middle;
  display: inline-block;
  margin-top: -4px;
}

.info-text {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.grid {
  display: grid;
  margin: auto;
}

.navbar {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar a {
  margin: 20px 30px 20px 30px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.navbar a:hover {
  font-weight: 500 !important;
  background-color: #1485FF !important;
  color: #ffffff !important;
  border: #1485FF !important;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .navbar {
    padding-top: 15px;
  }

  .navbar a {
    font-size: 18px;
  }
}

.btn {
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  width: auto;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.btn-align {
  float: right;
  margin-left: 10px
}

.link {
  text-decoration: none;
  color: #1485FF;
  font-weight: bold;
}

.logbtn {
  padding: 10px;
  padding-right: 22px;
  padding-left: 22px;
  border: transparent;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: auto;
  cursor: pointer;
  margin-top: 10px;
  margin-left: none;
  margin-right: none;
  font-family: 'Montserrat', sans-serif;
}

.regbtn {
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  width: auto;
  cursor: pointer;
  margin-left: 331px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.large-logo {
  width: 192px !important;
  height: 192px !important;
  margin: 0 auto;
}

.small-logo {
  width: 64px !important;
  height: 64px !important;
  margin: 0 auto;
}

.green {
  font-weight: 500 !important;
  background-color: #4EB760 !important;
  color: #ffffff !important;
  border: #4EB760 !important;
}

.blue {
  font-weight: 500 !important;
  background-color: #1485FF !important;
  color: #ffffff !important;
  border: #1485FF !important;
}

.purple {
  font-weight: 500 !important;
  background-color: #713BDB !important;
  color: #ffffff !important;
  border: #713BDB !important;
}

.dropdown-check-list .anchor {
  position: relative;
  display: block;
  padding: 10px 50px 10px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 4px solid white;
  border-top: 4px solid white;
  padding: 5px;
  right: 10px;
  top: 28%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list ul.items {
  display: none;
  padding: 4px;
  margin: 0;
  border: 1px solid #CCC;
  background-color: #F5F6FA;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
  padding: 4px;
}

.dropdown-check-list ul.items li:disabled {
  background: black;
}

.dropdown-check-list.visible .items {
  display: block;
}

@media only screen and (max-width: 768px) {

  .info-card#login {
    width: 120%;
  }

  /* For mobile phones: */
  .input {
    display: block;
    width: 100% !important;
  }

  .logbtn {
    padding: 10px;
    padding-right: 22px;
    padding-left: 22px;
    border: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    cursor: pointer;
    margin-top: 10px;
    margin-left: none;
    margin-right: none;
    font-family: 'Montserrat', sans-serif;
  }

  .regbtn {
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    width: 90%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

  .btn-align {
    display: block;
    width: 100%;
    float: none;
    margin-left: 0px;
  }

}

@media only screen and (max-width: 1750px) {

  /* For general smaller screen combatibility: */
  .info-card#register {
    width: 150%;
    max-height: 80%
  }

  #name-inputs {
    width: 100% !important;
  }

  #age-gender-inputs {
    width: 100% !important;
    margin: 5px 10px 0px 0px;
  }
}