table {
    width: 100%;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
}

.card {
    margin-top: 15px;
    width: 100%;
}

.title {
    color: #333333;
    font-size: 50px;
}

.container {
    width: 65%;
    padding: 1rem;
    justify-content: normal;
    align-items: normal;
}

.editbtn {
    width: 100px;
    margin-top: 0px;
  } 