{% extends "sidebar.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/symptom-history.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/researcher.css') }}">

  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block title %}Patient List{% endblock %}
{% block sidebar %}
  {{ super() }}
  {% block content %}
    <div class="container">
      <h5 class="title" id="heading" style="display: none;">{{ session.name }}</h5>
      <div class="card">
        <h6 class="subtitle"><b>Search Patients</b></h6>
        <h6 class="subtitle" style="font-size: 1.4rem;">Filter by one or more attributes... Or select none to display all data</h6>
        <form name="reseacher-filter" class="form" method="POST" action="{{url_for('researcher_dashboard')}}">
          <div class="grid three-equal-columns">
            <div class="col">
              <label for="lower-age"><b>Lower Age</b> Limit</label>
              <input type="number" class="input" name="lage" style="width: 90%;">
            </div>
            <div class="col">
              <label for="higher-age"><b>Higher Age</b> Limit</label>
              <input type="number" class="input" name="hage" style="width: 90%;">
            </div>
            <div class="col">
              <label for="gender">Filter by <b>Gender</b></label>
              <select name="gender"style="width: 90%;">
                <option value=""></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <label for="symptom">Filter by <b>Symptom</b><sup>*</sup></label>
            <select name="symptom">
              <option label=" "></option>
              <option value="Cramping">Cramping</option>
              <option value="Discomfort">Discomfort</option>
              <option value="Numbness">Numbness</option>
              <option value="Pain">Pain</option>
              <option value="Tingling">Tingling</option>
              <option value="Weakness">Weakness</option>
              <option value="Other">Other</option>
              </select>
              <input type="text" id="symptom" placeholder="Enter a symptom here" name="symptom" style="display: none;"/>
            <span class="error-message" id="symptom-error-message"></span>
          <label for="chemotherapy">Filter by <b>Chemotherapy</b><sup>*</sup></label>
            <select name="chemotherapy" >
                <option label=" "></option>
                {% for treatment in treatments %}
                    <option value={{treatment}}>{{treatment}}</option>
                {% endfor %}
            </select>
            <input type="text" id="chemotherapy" placeholder="Enter needed chemotherapy" name="chemotherapy" style="display: none;"/>
            <span class="error-message" id="location-error-message"></span>
            <div class="grid two-equal-columns">
              <div class="col">
                <input class="btn blue" type="submit" style="margin-top: 20px; width:100%;" value="Filter">
              </div>
              <div class="col">
                <input class="btn blue" type="submit" style="margin-top: 20px; width:100%;" value="Export" formaction="{{url_for('download_export_filters')}}">
              </div>
            </div>
        </form>
      </div>
      <div class="card">
      <h6 class="title">Patient List</h6>
        <br>
        <table class ="searchable sortable" style="font-size: 16px;">
          <colgroup>
              <col style="width: 14%;">
              <col style="width: 14%;">
              <col style="width: 16%;">
              <col style="width: 28%;">
              <col style="width: 28%;">
          </colgroup>
            <thead>
                <tr style="background-color: #ebebeb;">
                    <th class="header" style="cursor:pointer;opacity:1">Id</th>
                    <th class="header" style="cursor:pointer;opacity: 1">Age</th>
                    <th class="header" style="cursor:pointer;opacity: 1">Gender</th>
                    <th class="header" style="cursor:pointer;opacity: 1">Chemotherapy</th>
                    <th class="header" style="cursor:pointer;opacity: 1">Symptoms</th>
                </tr>
            </thead>
            <tbody>
                {% for consent in consents %}
                    <tr>
                      <td>{{consent.ac_id}}</td>
                      <td>{{consent.ac_age}}</td>
                      <td>{{consent.ac_gender}}</td>
                      <td>{{consent.treatment_name}}</td>
                      <td><button class="btn blue"onclick="viewConsent('{{consent.ac_id}}')" style="width: 80%;">View Details</button>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  {% endblock %}
  {% block bodyscripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/view_consents.js') }}"></script>
  {% endblock %}
{% endblock %}