{% extends "sidebar.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block sidebar %}
{{ super() }}
  {% block content %}
  <main class="s-layout__content">
    <div class="container">
      <div class="grid-container">
        <div class="grid-header">
          <h5 class="title" id="heading" style="display: none;">{{ session.name }}</h5>
        </div>
        <div class="grid-button-left">
          <a href="{{url_for('create_survey')}}" class="btn green aligned">Create Survey</a>
        </div>
        <div class="grid-button-right">
          <a href="{{url_for('view_patients')}}" class="btn blue aligned">View Patients</a>
        </div>
        <div class="grid-main">
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
{% endblock %}