{% extends "sidebar.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/input-fields.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}">

{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block sidebar %}
{{ super() }}
  {% block content %}
  <main class="s-layout__content">
    <div class="container">
      <div class="grid-container">
        <div class="grid-header">
          <h5 class="title" id="heading" style="display: none;">{{ session.name }}</h5>
          <div class="card">
            <div class="flex col">
              <div>
                <h6>Invite a user</h6>
                <form class="form" action="{{url_for('invite_user')}}" method="POST">
                  <div class="col">
                    <div class="grid two-equal-columns">
                      <div class="col">
                        <label for="email-address">Email Address</label>
                        <input type="email" class="input" name="email-address" required>
                      </div>
                      <div class="col">
                        <label for="role">Role</label>
                        <select name="role" id="role">
                          <option value="admin">Admin</option>
                          <option value="clinician">Clinician</option>
                          <option value="researcher">Researcher</option>
                        </select>
                      </div>
                    </div>
                    <div class="grid">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                            <span class="{{ category }}-message">{{ message }}</span>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}
                      <input class="btn green" type="submit" value="Send Invitation"/>
                    </div>
                  </div>
                </form>
              </div>
              <br>
              <hr />
              <br>
              <h6>Questionnaires</h6>
              <div id="tabs" class="tabs">
                <div class="tab">
                    <input type="radio" id="tab-1" name="tab-group-1" checked>
                    <label for="tab-1" class="tabname">Create</label>
                    <div id="content-1" class="content">
                      <form id="create-form" class="form" action="{{url_for('create_questionnaire')}}" method="POST">
                        <div class="col">
                          <label for="questionnaire-name">Questionnaire name</label>
                          <input type="text" maxlength="255" class="input" name="questionnaire-name" required>
                          <label for="survey-link">Google Forms link</label>
                          <input type="url" class="input" name="survey-link" required>
                          <label for="end-date">End date</label>
                          <input type="date" class="input" id="end-date" name="end-date" required>
                          <label for="recepients">Recipient(s) (comma separated)</label>
                          <textarea class="input" style="resize: none; padding: 3px; height: 100px;" name="recipients" required></textarea>
                          <div class="grid">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                              {% if messages %}
                                {% for category, message in messages %}
                                  <span class="{{ category }}-message">{{ message }}</span>
                                {% endfor %}
                              {% endif %}
                            {% endwith %}
                            <input class="btn green" type="submit" value="Create Questionnaire"/>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" id="tab-2" name="tab-group-1">
                    <label for="tab-2" class="tabname">Modify</label>
                    <div id="content-2" class="content">
                      <form id="modify-form" class="form" method="POST">
                        <div class="col">
                          <label for="questionnaire">Select a questionnaire to modify</label>
                          <select name="questionnaire" id="modify-questionnaire">
                            <option value="None"> </option>
                            {% for questionnaire in questionnaires %}
                              <option value="{{ questionnaire.id }}">{{ questionnaire.name }}</option>
                            {% endfor %}
                          </select>
                          <div id="modify-form-div" style="display: none;">
                            <label for="questionnaire-name">Questionnaire name</label>
                            <input type="text" class="input" name="questionnaire-name" required>
                            <label for="survey-link">Google Forms link</label>
                            <input type="url" class="input" name="survey-link" required>
                            <label for="end-date">End date</label>
                            <input type="date" class="input" name="end-date" required>
                            <div class="grid">
                              <span id="modify-message"></span>
                              <input class="btn green" type="submit" value="Modify Questionnaire"/>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
                <div class="tab">
                  <input type="radio" id="tab-3" name="tab-group-1">
                  <label for="tab-3" class="tabname">Delete</label>
                  <div id="content-3" class="content">
                    <form id="delete-form" class="form">
                      <div class="col">
                        <label for="questionnaire">Select a questionnaire to delete</label>
                        <select name="questionnaire" id="delete-questionnaire">
                          {% if questionnaires | length == 0 %}
                            <option value=""> </option>
                          {% endif %}
                          {% for questionnaire in questionnaires %}
                            <option value="{{ questionnaire.id }}">{{ questionnaire.name }} - {{ questionnaire.end_date }}</option>
                          {% endfor %}
                        </select>
                        <div class="grid">
                          <span id="delete-message"></span>
                          <input class="btn green" type="submit" value="Delete Questionnaire"/>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
  {% block bodyscripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin-dashboard.js') }}"></script>
  {% endblock %}
{% endblock %}