{% extends "sidebar.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block sidebar %}
{{ super() }}
  {% block content %}
  <main class="s-layout__content">
    <div class="container" style="justify-content: start;">
      <div class="grid-container">
        <div class="grid-header">
          <h5 class="title" id="heading" style="display: none;">{{ session.name }}</h5>
          <br />
          <p>This is the Admin dashboard.</p>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
{% endblock %}